jax==0.5.3
jaxlib==0.5.3
jax-cuda12-plugin==0.5.3
flax==0.10.6
chex==0.1.89
optax==0.2.5
orbax-checkpoint==0.11.13
ml-dtypes==0.5.1
mujoco==3.7.0
numpy==1.26.4
nvidia-cudnn-cu12==9.25.1.1
scipy==1.11.4
tensorflow==2.15.0
tensorflow-datasets==4.9.3
tensorflow-hub==0.15.0
tensorflow-metadata==1.14.0
tensorflow-text==2.15.0
transformers==4.57.6
